<%
   @relevant_attr = [["Name",@projekt.projektname],
                     ["ISBN",@projekt.buch.isbn],
                     ["Öffentlicher Kommentar", @projekt.kommentar_public],
                     ["Private Bemerkungen der Titelei", @projekt.titelei_bemerkungen],
                     ["Lektor",@projekt.lektor.name],
                     ["SollF",@projekt.final_deadline],
                     ["SollF Titlei", @projekt.titelei_deadline],
                     ["Format", @projekt.buch.format_bezeichnung],
                     ["Eintrag", @projekt.buch.eintrag_cip_seite],
                     ["Versand", @projekt.titelei_versand_datum_fuer_ueberpr],
                     ["an", @projekt.titelei_versand_an_zur_ueberpf],
                     ["Korrektur", @projekt.titelei_korrektur_date],
                     ["Freigabe",@projekt.titelei_freigabe_date],
                     ["zum Druck", @projekt.statustitelei.freigabe_at],
                     ["Erscheinungsjahr", @projekt.buch.erscheinungsjahr],
                     ["Bemerkungen", @projekt.titelei_bemerkungen],
                     ["email", @projekt.projekt_email_adresse]]
%>


<%= status_bar(@projekt, @projekt.statustitelei.status, "Titlei Status") %>

<div class="panel">
  <h3><%= @projekt.projektname %> </h3>
  <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <% @relevant_attr.each do |name, value| %>
          <% if value.nil?%>
              <tr>
                <th><%= name %></th>
                <td> <span class="empty">Leer</span></td>
              </tr>
          <% else%>
              <tr>
                <th><%= name %></th>
                <td><%= value %></td>
              </tr>
          <%end %>
      <%end%>
      </tbody></table>
  </div>
</div>
</div>







