<%
   @relevant_attr = [["Name",@projekt.projektname],
                     ["Öffentlicher Kommentar", @projekt.kommentar_public],
                     ["Private Bemerkungen der Preps", @projekt.preps_bemerkungen],
   ["ISBN",@projekt.buch.isbn],
   ["Auflage",@projekt.auflage_lektor],
   ["Aufage Chef",@projekt.auflage_chef],
   ["gesicherte Abnahme", @projekt.gesicherte_abnahme],
   ["SollF",@projekt.final_deadline],
   ["SollF Preps", @projekt.preps_deadline],
   ["Musterart", @projekt.muster_art],
   ["Muster gedruckt", @projekt.muster_gedruckt],
   ["Muster Bemerkungen Preps", @projekt.preps_muster_bemerkungen],
   ["Muster gedruckt an", @projekt.preps_muster_date],
   ["Bi",@projekt.buch.bindung_bezeichnung],
   ["Druck", @projekt.druck_art],
   ["Prio/Sond", @projekt.prio],
   ["MsEin", @projekt.manusskript_eingang_date],
   ["Lek", @projekt.lektor.name],
   #["Reihe", @projekt.reihe.name],
   ["Seiten", @projekt.buch.seiten],
   ["Format", @projekt.buch.format_bezeichnung],
   ["Umschlag", @projekt.buch.umschlag_bezeichnung],
   #["Titelei", @projekt.kommentar_public],
   ["Satz", @projekt.statusumschl.status],
   ["Papier", @projekt.buch.papier_bezeichnung],
   ["4f", @projekt.buch.vier_farb],
   ["email",@projekt.projekt_email_adresse],
   #["Sonder", @projekt.kommentar_public],
   ["Betreuer", @projekt.preps_betreuer],
   ["Kommentar",@projekt.kommentar_public]]
%>

<%= status_bar(@projekt,@projekt.statuspreps.status , "Status der Preps") %>
<%= status_bar(@projekt,@projekt.statustitelei.status , "Status der Titlei") %>

<div class="panel">
  <h3><%= @projekt.projektname %> </h3>
  <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <% @relevant_attr.each do |name, value| %>
          <% if value.nil?%>
              <tr>
                <th><%= name %></th>
                <td> <span class="empty"><%= I18n.t 'empty' %></span></td>
              </tr>
          <% else%>
              <tr>
                <th><%= name %></th>
                <td><%= value %></td>
              </tr>
          <%end %>
      <%end%>

      </tbody></table>
  </div>
</div>
</div>


