
<%  @relevant_attr = @projekt.attributes.to_h.slice(*["projektname"])  %>






 <%= status_bar(@projekt,@projekt.statusbinderei.status, "Status der Binderei") %>


<div class="panel">
  <h3><%= @projekt.projektname %></h3>
  <div class="panel_contents">
    <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <th><%= "name" %></th>
          <td><%= @projekt.projektname %></td>
        </tr>
        <tr>
          <th><%= "Auflage" %></th>
          <td><%= @projekt.auflage %></td>
        </tr>
        <tr>
          <th><%= "Datum" %></th>
          <td><%= "????" %></td>
        </tr>
        <tr>
          <th><%= "Soll fertig " %></th>
          <td><%= @projekt.final_deadline %></td>
        </tr>
        <tr>
          <th><%= "Soll fertig Binderei" %></th>
          <td><%= @projekt.binderei_deadline %></td>
        </tr>
        <tr>
          <th><%= "Prio" %></th>
          <td><%= "????" %></td>
        </tr>
        <tr>
          <th><%= "Lektor" %></th>
          <td><%= @projekt.lektor.name %></td>
        </tr>
        <tr>
          <th><%= "Seiten" %></th>
          <td><%= @projekt.buch.seiten %></td>
        </tr>
        <tr>
          <th><%= "Format" %></th>
          <td><%= @projekt.buch.format.bezeichnung %></td>
        </tr>
        <tr>
          <th><%= "Umschlag" %></th>
          <td><%= @projekt.buch.umschlag.bezeichnung %></td>
        </tr>
        <tr>
          <th><%= "Bindung" %></th>
          <td><%= @projekt.buch.bindung.bezeichnung %></td>
        </tr>
        <tr>
          <th><%= "4f" %></th>
          <td><%= "????" %></td>
        </tr>
        <tr>
          <th><%= "Tagesleistung" %></th>
          <td><%= "????" %></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
