

<%
   @relevant_attr = [["Name", @projekt.projektname],
                     ["Öffentlicher Kommentar", @projekt.kommentar_public],
                     ["Auflage", @projekt.auflage],
                     ["Soll Fertig", @projekt.final_deadline],
                     ["Soll Fertig Binderei", @projekt.binderei_deadline],
                     ["Prio",@projekt.prio],
                     ["Seiten", @projekt.buch.seiten],
                     ["Format",@projekt.buch.format_bezeichnung],
                     ["Umschlag", @projekt.buch.umschlag_bezeichnung],
                     ["Bindung", @projekt.buch.bindung_bezeichnung],
					 ["4f",@projekt.buch.vier_farb]]			# XXX list ends here mistake???
                     ["Auflage des Lektors",@projekt.auflage_lektor]
                     ["Auflage des Chefs",@projekt.auflage_chef]
                     ["Gesicherte Abnahme",@projekt.gesicherte_abnahme]
%>



<%= status_bar(@projekt, @projekt.statusfinal.status ," Finaler Status") %>
<%= status_bar(@projekt, @projekt.statusumschl.status ," Umschlag Status") %>
<%= status_bar(@projekt, @projekt.statustitelei.status ," Titlei Status") %>
<%= status_bar(@projekt, @projekt.statuspreps.status ," Preps Status") %>
<%= status_bar(@projekt, @projekt.statusdruck.status ," Druck Status") %>





<div class="panel">
<h3><%= @projekt.projektname %> </h3>
    <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <% @relevant_attr.each do |name, value| %>
          <% if value.nil?%>
                  <tr>
                    <th><%= name %></th>
                   <td> <span class="empty"> <%= I18n.t 'empty' %></span></td>
                  </tr>
          <% else%>
              <tr>
                <th><%= name %></th>
                <td><%= value %></td>
              </tr>
          <%end %>
        <%end%>
        </tbody></table>
      </div>
</div>



<div class="panel">
  <h3>Buch zu <%= @projekt.projektname %></h3>
  <div class="panel_contents">
    <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>


        <% @projekt.buch.attributes.each_pair do |name, value| %>
            <% if value.nil?%>
                <tr>
                  <th><%= name %></th>
                  <td> <span class="empty"> <%= I18n.t 'empty' %></span></td>
                </tr>
            <% else%>
                <tr>
                  <th><%= name %></th>
                  <td><%= value %></td>
                </tr>
            <%end %>
        <%end%>

        </tbody></table>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Autor zu <%= @projekt.projektname %></h3>
  <div class="panel_contents">
    <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <% if @projekt.autor %>
        <% @projekt.autor.attributes.each_pair do |name, value| %>
            <% if value.nil?%>
                <tr>
                  <th><%= name %></th>
                  <td> <span class="empty"> <%= t('emtpy') %></span></td>
                </tr>
            <% else %>
                <tr>
                  <th><%= name %></th>
                  <td><%= value %></td>
                </tr>
            <% end %>
        <% end %>
        <% else %>
            <tr>
              <th><%= "Es wurde noch kein Autor vergeben" %></th>
            </tr>
        <% end %>

        </tbody></table>
    </div>
  </div>
</div>
