<% @gprodsAtt = InputSettings.instance.all("gprods") %>

<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
  <ul>

    <%= form_for @projekt, url: used_url, remote: true do |projekt_form| %>

        <li>
          <div class="edit_status">

            <% if @projekt.statusfinal.status.nil? %>
                <div class = "freigabe_final">
                    <input type="checkbox" name="status[freigabe_final]" value="True">Gesamtfreigabe
                </div>
            <% end %>

            <% if @projekt.statustitelei.status.nil? %>
                <div class = "freigabe_titelei" >
                  <input type="checkbox" name="status[freigabe_titelei]" value="True">Titeleifreigabe
                </div>
            <% end %>

            <% if @projekt.statusumschl.status.nil? %>
                <div class = "freigabe_umschlag" >
                   <input type="checkbox" name="status[freigabe_umschlag]" value="True">Umschlagfreigabe
                </div>
            <% end %>

            <% if @projekt.statuspreps.status.nil? %>
                <div class = "freigabe_preps" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_preps]" value="True">Prepsfreigabe
                </div>
            <% end %>
          </div>
        </li>



        <% @gprodsAtt.each do |field| %>
            <% if InputSettings.instance.is_visible?(@department, field)%>
                <% @fieldType = InputSettings.instance.which_type(field)%>
                <% case @fieldType%>
    <% when "string"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <%= projekt_form.text_field field %>
                    </li>
                <% when "text"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <%= projekt_form.text_area field, size: "10x10"  %>
                    </li>
                <% when "date"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <input class="datepicker" data-date-format="mm/dd/yyyy" name="gprod[<%=field%>]" value="<%=@projekt.send("#{field}") %>">
                    </li>
                <% when "integer", "float", "decimal"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <input value="<%=@projekt.send("#{field}") %>" name="gprod[<%=field%>]" type="number">
                    </li>
                <% when "boolean"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <input type="checkbox" name="gprod[<%=field%>]" value="True"><%=(I18n.t("gprod_names.#{field}"))%>
                    </li>

                <% else %>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <!-- hardcoding for the choosable options - we need an if for each hardcoding case (so maybe another switch case inside the switch case?) -->
                    </li>
                <%end%>
            <%end%>
        <%end%>

        <%= projekt_form.submit "#{@projekt.projektname} bearbeiten" %>
    <% end %>


  </ul>
</fieldset>