<!-- this is the edit view for every department -->

<!-- this is the form to create new project -->
<% if @department.nil? %>
	<% used_url = admin_projekte_path%>
    	<fieldset class="projekt"><legend><span>Ein neues Projekt erstellen</span></legend>
      	<p>In diesem Bereich können Sie Projekte erstellen, dazu geben Sie dem Projekt vorerst nur einen die folgenden </p>
      	<ul>
        	<%= form_for @projekt, url: used_url do |projekt_form| %>
            <li>
              <%= projekt_form.label :projektname, "Name des Projektes" %>
              <%= projekt_form.text_field :projektname %>
            </li>
            <li>
              <%= projekt_form.label :projekt_email_adresse, "Email des Projektes" %>
              <%= projekt_form.text_field :projekt_email_adresse %>
            </li>
            <li>
              <%= projekt_form.label :lektor_bemerkungen_private, "Private Bemerkungen zu diesem Projekt" %>
              <%= projekt_form.text_area :lektor_bemerkungen_private, size: "10x10" %>
            </li>
            <%= puts current_admin_user.departments.to_a[0].name%>
            <%= (puts current_admin_user.departments.to_a[0].name == Lektor)%>
               <% if (current_admin_user.departments.to_a[0].name == "Lektor") %>
               <%= projekt_form.submit%>
               <% else %>
               <% flash[:error] = I18n.t 'flash_notice.revised_failure.new_project_error' %>
                 <script type="text/javascript">
    				window.location.href="/admin/projekte"
  				 </script>
               <% end %>
        	<% end %>
      	</ul>
    	</fieldset>
<% else %>

<!--here the url path is choosen depending on the department (as a parameter)-->
<% case @department %>
<% when "binderei"%>
    <% used_url = (admin_bi_path(@projekt.id)) %>
<% when "preps" %>
    <% used_url = (admin_preps_path(@projekt.id)) %>
<% when "satz"%>
    <% used_url = (admin_s_reif_path(@projekt.id)) %>
<% when "titelei" %>
    <% used_url = (admin_tit_path(@projekt.id)) %>
<% when "umschlag" %>
    <% used_url = (admin_um_path(@projekt.id)) %>
<% when "druck" %>
    <% used_url = (admin_druck_path(@projekt.id)) %>
<% when "rechnung" %>
    <% used_url = (admin_rechnung_path(@projekt.id)) %>
<% when "projekt" %>
    <% used_url = admin_projekt_path(@projekt.id)%>
    <!-- Projeckt view buttons -->
	<nav>
      <ul>
      	<li onclick='$(".buch").hide();$(".autor").hide();$(".projekt").show()'>Projekt</li>
       	<li onclick='$(".buch").show();$(".autor").hide();$(".projekt").hide()'>Buch</li>
       	<li onclick='$(".buch").hide();$(".autor").show();$(".projekt").hide()'>Autor</li>
      </ul>
    </nav>
<% end %>


<!-- all related status models -->
<% @stat = ["statusbildpr", "statusbinderei", "statusdruck", "statusfinal", "statusoffsch",
             "statuspreps", "statusrg", "statussatz", "statustitelei", "statusumschl"] %>

<div class="status_container">
	<%=puts "____________________________INPUT_______________________" %>
  <% @stat.each do |stat| %>
  <%=puts @projekt%>
  <%=puts @department%>
  <%=puts stat%>
      <% if InputSettings.instance.is_visible?(@department, stat) %>
          <%= status_bar(@projekt, @projekt.send("#{stat}").status ,(I18n.t("status_names.#{stat}"))) %>
      <% end %>
  <% end %>
</div>



<% @gprodsAtt = InputSettings.instance.all("gprods") %>
<% @buchAtt = InputSettings.instance.all("buecher") %>
<% @statAtt = InputSettings.instance.all("status") %>

<div class="panel">
	<!-- only the project view use three different panels (and three different buttons) -->
	<% if @department == "projekt"%>
		<%= render "projekt_input_panel", used_url: used_url %>
		<%= render "buch_input_panel", used_url: used_url %>
		<%= render "autor_input_panel", used_url: used_url %>
	<% else %>
		<%= render "input_panel", used_url: used_url %>
	<% end %>
</div>

<% end %>
