
<% case @department %>
<% when "binderei"%>
    <% used_url = (admin_bi_path(@projekt.id)) %>
<% when "preps" %>
    <% used_url = (admin_preps_path(@projekt.id)) %>
<% when "satz"%>
    <% used_url = (admin_s_reif_path(@projekt.id)) %>
<% when "titelei" %>
    <% used_url = (admin_tit_path(@projekt.id)) %>
<% when "umschlag" %>
    <% used_url = (admin_um_path(@projekt.id)) %>
<% when "druck" %>
    <% used_url = (admin_druck_path(@projekt.id)) %>
<% end %>

<!-- all related status models -->
<% @stat = ["statusbildpr", "statusbinderei", "statusdruck", "statusfinal", "statusoffsch",
             "statuspreps", "statusrg", "statussatz", "statustitelei", "statusumschl"] %>

<div class="panel_contents">
  <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
    <table class="status_table" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <% @stat.each do |stat| %>
          <% if InputSettings.instance.is_visible?(@department, stat) %>

              <%= status_bar(@projekt, @projekt.send("#{stat}").status ,(I18n.t("status_names.#{stat}"))) %>

          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% @gprodsAtt = InputSettings.instance.all("gprods") %>
<% @buchAtt = InputSettings.instance.all("buecher") %>
<% @statAtt = InputSettings.instance.all("status") %>

<div class="panel">
<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
	<%= form_for @projekt, url: used_url, remote: true do |projekt_form| %>
      <ul>
        <% @statAtt.each do |status_field| %>
            <%puts status_field %>
            <% if InputSettings.instance.is_visible?(@department, status_field)%>
                <% @fieldType = InputSettings.instance.which_type(status_field)%>
                <li>
                  <%= status_changer((I18n.t "status_names.#{status_field}"), "status[#{status_field}]", (StatusOptionsAdapter.option status_field),status_field) %>
                </li>
            <%end%>
        <%end%>
      </ul>


	<ul>
        <% @gprodsAtt.each do |field| %>
          <% if InputSettings.instance.is_visible?(@department, field)%>
            <% @fieldType = InputSettings.instance.which_type(field)%>
            <% case @fieldType%>
          	<% when "string"%>
            	<li>
            	  <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
              	  <%= projekt_form.text_field field %>
            	</li>
          	<% when "text"%>
             	<li>
            	  <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
              	  <%= projekt_form.text_area field, size: "10x10"  %>
            	</li>
            <% when "date"%>
            	<li>
            	  <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
	              <input class="datepicker" data-date-format="mm/dd/yyyy" name="gprod[<%=field%>]" value="<%=@projekt.send("#{field}") %>">
            	</li>
            <% when "integer", "float", "decimal"%>
            	<li>
            	  <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
	              <input value="<%=@projekt.send("#{field}") %>" name="gprod[<%=field%>]" type="number">
            	</li>
            <% when "boolean"%>
            	<li>
            	  <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                  <input type="checkbox" name="gprod[<%=field%>]" value="True"><%=(I18n.t("gprod_names.#{field}"))%>
            	</li>
              <% when "selectable"%>
                  <li>
                    <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                    <%= select_tag("gprod[#{field}]", options_for_select(ChoosableOption.send("instance").send(field,:all),selected: @projekt.send(field)),include_blank: true ) %>
                  </li>
            <% else %>

            <%end%>
          <%end%>
        <%end%>
    </ul>

	<ul>
		<%= projekt_form.fields_for :buch do |buecher_form|%>
        <% @buchAtt.each do |field| %>
          <% if InputSettings.instance.is_visible?(@department, field)%>
            <% @fieldType = InputSettings.instance.which_type(field)%>
            <% case @fieldType%>
          	<% when "string"%>
            	<li>
            	  <%= buecher_form.label field, (I18n.t("buecher_names.#{field}")) %>
              	  <%= buecher_form.text_field field %>
            	</li>
          	<% when "text"%>
             	<li>
            	  <%= buecher_form.label field, (I18n.t("buecher_names.#{field}")) %>
              	  <%= buecher_form.text_area  field, size: "10x10"  %>
            	</li>
            <% when "date"%>
            	<li>
            	  <%= buecher_form.label field, (I18n.t("buecher_names.#{field}")) %>
	              <input class="datepicker" data-date-format="mm/dd/yyyy" name="gprod[buch_attributes][<%=field%>]" value="<%=@projekt.send("#{field}") %>">
            	</li>
            <% when "integer", "float", "decimal"%>
            	<li>
            	  <%= buecher_form.label field, (I18n.t("buecher_names.#{field}")) %>
	              <input value="<%=@projekt.buch.send("#{field}") %>" name="gprod[buch_attributes][<%=field%>]" id=field type="number">
            	</li>
            <% when "boolean"%>
            	<li>
            	  <%= buecher_form.label field, (I18n.t("buecher_names.#{field}")) %>
                  <input type="checkbox" name="gprod[buch_attributes][<%=field%>]" value="True">
            	</li>
                <% when "selectable"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("buecher_names.#{field}")) %>
                      <%= select_tag("gprod[buch_attributes][#{field}]", options_for_select(ChoosableOption.send("instance").send(field,:all),selected: @projekt.buch.send(field)),include_blank: true ) %>
                    </li>
            <% else %>

            <%end%>
          <%end%>
        <%end%>
        <%end%>
    </ul>

      <%= projekt_form.submit "#{@projekt.projektname} bearbeiten" %>
    <%end%>
</fieldset>
</div>