$(".flashes").replaceWith('<div class="flashes"> <div class="flash flash_notice"><%= I18n.t 'flash_notice.revised_success.project_update' %></div></div>');
$(".flashes").delay(2000).fadeOut(500);
<% @statAtt = InputSettings.instance.all("status") %>
<% @statAtt.each do |status_field| %>
    <%if not @projekt.send(status_field).status.nil? %>
        <% @fieldType = InputSettings.instance.which_type(status_field)%>
if(document.getElementById("<%= status_field %>") != null){
    document.getElementById("<%= status_field %>").outerHTML = '<span id="<%= status_field %>" class="<%="status_tag #{@projekt.send(status_field).status.gsub(/\s+/, "")}"%>"><%= @projekt.send(status_field).status %></span>';
};
    <%end%>
<%end%>



