<% @gprodsAtt = InputSettings.instance.all("gprods") %>

<script type="text/javascript">
  $(document).load(function(){
    displayClock();
  });
	scheduler();
</script>

<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
  <ul>

    <%= form_for @projekt, url: used_url, remote: true do |projekt_form| %>

        <li>
          <div class="edit_status">

			<% if @projekt.statusfinal.freigabe? %>
                <div class = "freigabe_final" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_final]" value="True" disabled="disabled" checked>Gesamtfreigabe
                </div>
            <% else %>
            	<div class = "freigabe_final" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_final]" value="True">Gesamtfreigabe
                </div>
            <% end %>

			<% if @projekt.statustitelei.freigabe? %>
                <div class = "freigabe_titelei" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_titelei]" value="True" disabled="disabled" checked>Titeleifreigabe
                </div>
            <% else %>
            	<div class = "freigabe_titelei" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_titelei]" value="True">Titeleifreigabe
                </div>
            <% end %>
            
			<% if @projekt.statusumschl.freigabe? %>
                <div class = "freigabe_umschlag" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_umschlag]" value="True" disabled="disabled" checked>Umschlagfreigabe
                </div>
            <% else %>
            	<div class = "freigabe_umschlag" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_umschlag]" value="True">Umschlagfreigabe
                </div>
            <% end %>


            <% if @projekt.statuspreps.freigabe? %>
                <div class = "freigabe_preps" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_preps]" value="True" disabled="disabled" checked>Prepsfreigabe
                </div>
            <% else %>
            	<div class = "freigabe_preps" style="display: inline;">
                    <input type="checkbox" name="status[freigabe_preps]" value="True">Prepsfreigabe
                </div>
            <% end %>
          </div>
        </li>



        <% puts InputSettings.instance.is_visible?(@department, @gprodsAtt[5])%>
        <% @gprodsAtt.each do |field| %>
            <% if InputSettings.instance.is_visible?(@department, field)%>
                <% @fieldType = InputSettings.instance.which_type(field)%>
                <% case @fieldType%>
                <% when "string"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <%= projekt_form.text_field field %>
                    </li>
                <% when "text"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <%= projekt_form.text_area field, size: "10x10"  %>
                    </li>
                <% when "date"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <input class="datepicker" data-date-format="mm/dd/yyyy" name="gprod[<%=field%>]" value="<%=@projekt.send("#{field}") %>">
                    </li>
                <% when "integer", "float", "decimal"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <input value="<%=@projekt.send("#{field}") %>" name="gprod[<%=field%>]" type="number">
                    </li>
                <% when "boolean"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <%= projekt_form.check_box field%><%=(I18n.t("gprod_names.#{field}"))%>
                    </li>
                <% when "selectable"%>
                    <li>
                      <%= projekt_form.label field, (I18n.t("gprod_names.#{field}")) %>
                      <%= select_tag("gprod[#{field}]", options_for_select(ChoosableOption.send("instance").send(field,:all),selected: @projekt.send(field)),include_blank: true ) %>
                    </li>
                <% else %>

                <%end%>
            <%end%>
        <%end%>
        <%= projekt_form.submit "Projekt überarbeiten" %>
    <%end%>


  </ul>
</fieldset>
