<!-- this is the show view for every department -->

<%# Uncommenting the 2 comments below will supress error messages. But also
	  functionality. %>

<!-- all related status models -->
<% @stat = ["statusbildpr", "statusbinderei", "statusdruck", "statusfinal", "statusoffsch",
             "statuspreps", "statusrg", "statussatz", "statustitelei", "statusumschl"] %>

<div class="status_container">
<% @stat.each do |stat| %>
	<% if ShowSettings.instance.is_visible?(@department, stat) #and not @projekt.send(stat).nil? %>
			<%= status_bar(@projekt, @projekt.send(stat).status , (I18n.t("status_names.#{stat}"))) %>
	<% end %>
<% end %>
</div>

<!-- panel table for Projekt info -->
<div class="panel">
	<h3>Informationen zu Projekt "<%= @projekt.projektname %>" </h3>
    <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <% ShowSettings.instance.all("gprods").each do |field| %>
        	<% if ShowSettings.instance.is_visible?(@department, field) %>
        		<tr>
        			<th><span> <%=(I18n.t("gprod_names.#{field}")) %></span></th>
						<% if @projekt.send(field).nil? %>
							<td><span class="empty"> <%= I18n.t 'empty' %></span></td>
						<% else %>
							<td><%= @projekt.send(field) %></td>
						<% end %>
					</tr>
        	  <% end %>
        	<% end %>
        </tbody>
      </table>
    </div>
</div>

<!-- panel table for Buch info -->
<div class="panel">
  <h3>Informationen zum Buch "<%= @projekt.projektname %>" </h3>
  <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <% ShowSettings.instance.all("buecher").each do |field| %>
          <% if ShowSettings.instance.is_visible?(@department, field) %>
              <tr>
                <th><span> <%=(I18n.t("buecher_names.#{field}")) %></span></th>
                <% if @projekt.buch.send(field).nil? %>
                    <td><span class="empty"> <%= I18n.t 'empty' %></span></td>
                <% else %>
                    <td><%= @projekt.buch.send(field) %></td>
                <% end %>
              </tr>
          <% end %>
      <% end #unless @projekt.buch.nil? %>
      </tbody>
    </table>
  </div>
</div>


