<% if not @user.id %>
	<% used_url = admin_admin_users_path %>
<% elsif @user.id %>
	<% used_url = admin_admin_users_path(@user.id) %>
<% end %>


<%= form_for @user, url: used_url do |user_form| %>

	<ul>
		<li class='user_input'>
		<%= user_form.label('Zugewiesene Abteilungen', class: 'label') %>
		<%= user_form.collection_check_boxes(:department_ids, Department.all, :id, :name ) %>
		</li>

		<li class='user_input'>
		<%= user_form.label('Zugewiesener Lektor', class: 'label') %>
		<%= user_form.select( :lektor_id, Lektor.all.collect {|lek| [ lek.name, lek.id ] },
		{prompt: 'Lektor auswählen'} ) %>
		</li>
	</ul>

<% end %>




