

<div class="panel_contents">
  <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{projekt.id}" %>">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
          <% if status.nil?%>
              <tr>
               <th><%= name %></th>
                <td> <span class="status_tag">Leer</span></td>
              </tr>
          <% else%>
              <tr>
                <th><%= name %></th>
                <td><span class="<%="status_tag #{status}"%>"><%= status %></span></td>
              </tr>
          <%end %>
      </tbody></table>
  </div>
</div>
