
<%  @relevant_attr = [["",@projekt.lektor_id],
                      ["",@projekt.autor_id],
                      ["",@projekt.final_deadline],
                      ["",@projekt.zum_druck],
                      #["",@projekt.druck_deadline],
                      ["",@projekt.titelei_deadline],
                      ["",@projekt.satz_deadline],
                      ["",@projekt.preps_deadline],
                      ["",@projekt.offsch_deadline],
                      ["",@projekt.bildpr_deadline],
                      ["",@projekt.umschlag_deadline],
                      ["",@projekt.rg_deadline],
                      ["",@projekt.binderei_deadline],
                      ["",@projekt.projekt_abgeschlossen],
                      ["",@projekt.projekt_email_adresse],
                      ["",@projekt.projektname],
                      #["",@projekt.auflage],
                      ["",@projekt.erscheinungsjahr],
                      ["",@projekt.kommentar_public],
                      ["",@projekt.manusskript_eingang_date],
                      ["",@projekt.auflage_lektor],
                      ["",@projekt.auflage_chef],
                      ["",@projekt.gesicherte_abnahme],
                      ["",@projekt.satzproduktion],
                      ["",@projekt.buchistfertig],
                      ["",@projekt.externer_druck],
                      ["",@projekt.externer_druck_verschickt_von],
                      ["",@projekt.externer_druck_verschickt],
                      ["",@projekt.buchgedruckt],
                      #["",@projekt.druck_bemerkungen],
                     # ["",@projekt.pod_verschickt ],
                      #["",@projekt.pod_meldung],
                      ["",@projekt.titelei_bemerkungen],
                      ["",@projekt.titelei_zusaetze],
                      ["",@projekt.titelei_extern],
                      ["",@projekt.titelei_letzte_korrektur],
                      ["",@projekt.titelei_versand_datum_fuer_ueberpr],
                      ["",@projekt.titelei_versand_an_zur_ueberpf],
                      ["",@projekt.titelei_korrektur_date],
                      ["",@projekt.titelei_freigabe_date],
                      ["",@projekt.satz_bemerkungen],
                      ["",@projekt.preps_bemerkungen],
                      ["",@projekt.preps_betreuer],
                      ["",@projekt.druck_art],
                      #["",@projekt.muster_art],
                      ["",@projekt.muster_gedruckt],
                      ["",@projekt.preps_muster_bemerkungen],
                      ["",@projekt.preps_muster_date],
                      ["",@projekt.offsch_bemerkungen],
                      ["",@projekt.offsch_an_autor],
                      ["",@projekt.offsch_an_sch_mit_u],
                      ["",@projekt.bildpr_bemerkungen],
                      ["",@projekt.umschlag_bemerkungen],
                      ["",@projekt.umschlag_schutzumschlag],
                      ["",@projekt.umschlag_umschlagsbild],
                      ["",@projekt.rg_bemerkungen],
                      ["",@projekt.rg_rg_mail],
                      ["",@projekt.rg_versand_1],
                      ["",@projekt.rg_versand_2],
                      ["",@projekt.rg_bezahlt],
                      ["",@projekt.rg_vf],
                      ["",@projekt.binderei_eingang_datum],
                      ["",@projekt.binderei_bemerkungen],
                      #["",@projekt.prio],
                      ["",@projekt.lektor_bemerkungen_public],
                      ["",@projekt.lektor_bemerkungen_private],
                      ["",@projekt.dateibue]
]  %>
<!--ID
 	Name
 	buch.ISBN
 	lektor.fullname
 	buch.Seiten
 	buch.Format
 	buch.Papier
 	buch.Umschlag
 	Bi Eintäge wie k, Ln:k
 	Satz
 	Druck
 	off
  SW
 	4f-->



<%= status_bar(@projekt, @projekt.statusdruck.status, "Drucker Status") %>

<div class="panel">
<h3><%= @projekt.projektname %> </h3>
    <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <% @relevant_attr.each do |name, value| %>
          <% if value.nil?%>
                  <tr>
                    <th><%= name %></th>
                   <td> <span class="empty">Leer</span></td>
                  </tr>
          <% else%>
              <tr>
                <th><%= name %></th>
                <td><%= value %></td>
              </tr>
          <%end %>
        <%end%>

        </tbody></table>
      </div>
  </div>
</div>


