
<nav>
  <ul>
    <li onclick='$(".buch").hide();$(".autor").hide();$(".projekt").show'>Projekt</li>
    <li onclick='$(".buch").hide();$(".autor").show();$(".projekt").hide'>Autor</li>
    <li onclick='$(".buch").show();$(".autor").hide();$(".projekt").hide'>Buch</li>
  </ul>
</nav>



<% if not @projekt.id%>
    <% used_url = admin_projekts_path%>
<% elsif @projekt.id %>
    <% used_url = admin_projekt_path(@projekt.id)%>
<% end %>


<fieldset class="buch"><legend><span>Buch</span></legend>
<ul>

  <%= form_for @projekt, url: used_url do |projekt_form| %>
        <li>
            <%= projekt_form.label :druck %>
            <%= projekt_form.text_field :druck %>
        </li>

 <%= fields_for :buch, @projekt.buch do |buch_fields| %>
          <li>
            <%= buch_fields.label :name %>
            <%= buch_fields.text_field :name %>
          </li>
        <% end %>

        <%= projekt_form.submit %>

    <% end %>

</ul>

</fieldset>

  <fieldset class="autor"><legend><span>Autor</span></legend>
<ul>

  <%= form_for @projekt, url: used_url do |projekt_form| %>
        <li>
            <%= projekt_form.label :druck %>
            <%= projekt_form.text_field :druck %>
        </li>

 <%= fields_for :buch, @projekt.buch do |buch_fields| %>
          <li>
            <%= buch_fields.label :name %>
            <%= buch_fields.text_field :name %>
          </li>
        <% end %>

        <%= projekt_form.submit %>

    <% end %>

</ul>

</fieldset>

<fieldset class="projekt"><legend><span>Projekt</span></legend>
<ul>

  <%= form_for @projekt, url: used_url do |projekt_form| %>
        <li>
            <%= projekt_form.label :druck %>
            <%= projekt_form.text_field :druck %>
        </li>

 <%= fields_for :buch, @projekt.buch do |buch_fields| %>
          <li>
            <%= buch_fields.label :name %>
            <%= buch_fields.text_field :name %>
          </li>
        <% end %>

        <%= projekt_form.submit %>

    <% end %>

</ul>

</fieldset>