<h1>Ein neues Projekt erstellen</h1>



<%= form_for @projekt, url: "/admin/projekts/#{params[:id]}#update"  do |f| %>
    <%= f.label :first_name %>:
    <%= f.text_field :druck %><br />
    <%= f.submit %>
<% end %>



<% @projekt.methods.each do |m| %>
    <%= m  %></br>
<%end%>
