<%= status_bar(@projekt, @projekt.statusumschl.status, "Umschlag Status") %>


<% used_url = admin_um_path(@projekt.id)%>
<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
  <ul>
    <%= form_for @projekt, url: used_url, remote: true do |projekt_form| %>
        <li>
          <%= projekt_form.label :projektname, "Projektname" %>
          <%= "#{@projekt.projektname}" %>
        </li>
        <li>
          <%= projekt_form.label :projektname, "Betreuender Lektor" %>
          <%= "#{@projekt.lektor.fullname}" %>
        </li>
        <li>
          <%= status_changer("Status des Umschlags", "status[statusumschlag]", $UMSCHL_STATUS) %>
        </li>
        <li>
          <%= projekt_form.label :umschlag_bemerkungen, "Private Bemerkungen des Umschlags" %>
          <%= projekt_form.text_area  :umschlag_bemerkungen, size: "10x10" %>
        </li>
        <li>
          <%= projekt_form.label :binderei_bemerkungen, "Öffentliche Bemerkungen" %>
          <%= projekt_form.text_area :kommentar_public , size: "10x10"  %>
        </li>
        <%= projekt_form.submit "#{@projekt.projektname} bearbeiten" %>
    <% end %>
  </ul>
</fieldset>







