<%= status_bar(@projekt, @projekt.statusumschl.status, "Umschlag Status") %>


<% used_url = admin_um_path(@projekt.id)%>
<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
  <ul>
    <%= form_for @projekt, url: used_url, remote: true do |projekt_form| %>
        <%if InputSettings.instance.umschlag :projektname %>
            <li>
              <%= projekt_form.label :projektname, (I18n.t 'field_names.projectname') %>
              <%= "#{@projekt.projektname}" %>
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :lektorname %>
            <li>
              <%= projekt_form.label :lektorname, ( I18n.t 'field_names.lektor') %>
              <%= "#{@projekt.lektor.fullname}" %>
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :kommentar_umschlag %>
            <li>
              <%= projekt_form.label :umschlag_bemerkungen,  (I18n.t 'field_names.umschlag_note') %>
              <%= projekt_form.text_area  :umschlag_bemerkungen, size: "10x10" %>
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :status_umschlag %>
            <li>
              <%= status_changer "field_names.status_umschlag", "status[statusumschlag]", $UMSCHL_STATUS%>
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :kommentar_public %>
            <li>
              <%= projekt_form.label :kommentar_public,( I18n.t 'field_names.public_note') %>
              <%= projekt_form.text_area :kommentar_public , size: "10x10"  %>
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :isbn %>
            <li>
              <%= projekt_form.label :buch_isbn,( I18n.t 'field_names.isbn')%>
              <input value="<%=@projekt.buch.isbn %>" name="buch[isbn]" id="buch_isbn" type="number">
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :final_deadline %>
            <li>
              <%= projekt_form.label :final_deadline,( I18n.t 'field_names.deadline_final' )%>
              <input class="datepicker" data-date-format="mm/dd/yyyy" name="gprod[final_deadline]" value="<%="#{@projekt.final_deadline}" %>">
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :umschlag_deadline %>
            <li>
              <%= projekt_form.label :final_deadline, ( I18n.t 'field_names.deadline_umschlag' )%>
              <input class="datepicker" data-date-format="mm/dd/yyyy" name="gprod[umschlag_deadline]" value="<%="#{@projekt.umschlag_deadline}" %>">
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :umschlag_bezeichnung %>
            <li>
              <%= projekt_form.label :umschlag_bezeichnung , ( I18n.t 'field_names.umschlag_type' )%>
              <input value="<%=@projekt.buch.umschlag_bezeichnung %>" name="buch[umschlag_bezeichnung]" id="buch_umschlag_bezeichnung" >
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :format_bezeichnung %>
            <li>
              <%= projekt_form.label :format_bezeichnung ,  (I18n.t 'field_names.format_type' )%>
              <input value="<%=@projekt.buch.format_bezeichnung %>" name="buch[format_bezeichnung]" id="buch_format_bezeichnung" >
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :rueckenstaerke %>
            <li>
              <%= projekt_form.label :rueckenstaerke  ,  (I18n.t 'field_names.ruecken') %>
              <input value="<%=@projekt.buch.rueckenstaerke %>" name="buch[rueckenstaerke]" id="buch_rueckenstaerke" >
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :seiten %>
            <li>
              <%= projekt_form.label :seiten  ,  (I18n.t 'field_names.number_pages') %>
              <input value="<%=@projekt.buch.seiten %>" name="buch[seiten]" id="buch_seiten" type="number" >
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :bindung_bezeichnung%>
            <li>
              <%= projekt_form.label :bindung_bezeichnung , ( I18n.t 'field_names.bindung_type') %>
              <input value="<%=@projekt.buch.bindung_bezeichnung %>" name="buch[bindung_bezeichnung]" id="buch_bindung_bezeichnung" >
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :umschlagsbild%>
            <li>
              <%= projekt_form.label @projekt.umschlag_umschlagsbild, (I18n.t 'field_names.umschlag_bild') %>

              <input value="<%=@projekt.umschlag_umschlagsbild %>" name="gprod[umschlag_umschlagsbild]" id="umschlag_umschlagsbild]" >
            </li>
        <%end%>
        <%if InputSettings.instance.umschlag :klappentext %>
            <li>
              <%= projekt_form.label :klappentext , ( I18n.t 'field_names.klappentext') %>
              <input value="<%=@projekt.buch.klappentext %>" name="buch[klappentext]" id="buch_klappentext" >
            </li>
        <%end%>
        
        <%= projekt_form.submit "#{@projekt.projektname} bearbeiten" %>
    <% end %>
  </ul>
</fieldset>







