<%= status_bar(@projekt, @projekt.statuspreps.status, "Preps Status") %>


<% used_url = admin_preps_path(@projekt.id)%>
<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
  <ul>
    <%= form_for @projekt, url: used_url, remote: true do |projekt_form| %>
        <li>
          <%= projekt_form.label :projektname, "Projektname" %>
          <%= "#{@projekt.projektname}" %>
        </li>
        <li>
          <%= projekt_form.label :lektor_name, "Betreuender Lektor" %>
          <%= "#{@projekt.lektor.fullname}" %>
        </li>
        <li>
          <%= status_changer("Status der Preps", "status[statuspreps]", $PREPS_STATUS) %>
        </li>
        <%= projekt_form.submit "#{@projekt.projektname} bearbeiten" %>
    <% end %>
  </ul>
</fieldset>



<div class="panel">
  <h3><%= @projekt.projektname %> </h3>
  <div class="attributes_table projekt" id="<%= "attributes_table_projekt_#{@projekt.id}" %>">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <% @relevant_attr.each do |name, value| %>
          <% if value.nil?%>
              <tr>
                <th><%= name %></th>
                <td> <span class="empty"><%= I18n.t 'empty' %></span></td>
              </tr>
          <% else%>
              <tr>
                <th><%= name %></th>
                <td><%= value %></td>
              </tr>
          <%end %>
      <%end%>

      </tbody></table>
  </div>
</div>
</div>



