<%= status_bar(@projekt, @projekt.statusbinderei.status, "Binderei Status") %>
					<%-# I don't know how to handle this one and how to get the @department - where is @projekt defined and where does it come from?
					%>

<% used_url = admin_bi_path(@projekt.id)%>

<%@fields_for_autor = [:name,:vorname,:anrede,:email,:str,:ort,:plz,:tel,:fax,:institut,:demail,:dstr,:dort,:dplz,:dtel,:dfax]  %>

<%@attributes = InputSettings.instance.all()%>

<div class="panel">
<h3><%= @projekt.projektname %> </h3>
<fieldset class="projekt"><legend><span><%= "#{@projekt.projektname} bearbeiten"%></span></legend>
    <ul>
        <% @attributes.each_pair do |field| %>
          <% if InputSettings.instance.isVisible?(@department, field)%>
            <% @fieldType = InputSettings.instance.whichType?(field)%>
            <% case @fieldType%>
          	<% when "TextField"%>
            	<li>
            	  <%= projeckt_form.label field, ""+field%>
              	  <%= projeckt_form.text_field field %>
            	</li>
          	<% when "TextArea"%>
             	<li>
            	  <%= projeckt_form.label field, ""+field%>
              	  <%= projeckt_form.text_area field, "10x10" %>
            	</li>
            <% when "Date"%>
            	<li>
            	  <%= projeckt_form.label field, ""+field%>
              	  <%#date management %>
              	  %>
            	</li>
            <% else %>
            	<li>
            	  <%= projeckt_form.label field, ""+field%>
              	  <%= #hardcoding for the choosable options - we need an if for each hardcoding case (so maybe another switch case inside the switch case?) %>
              	  %>
            	</li>
            <%end%>
          <%end%>
        <%end%>
	</ul>
</fieldset>m




